@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

:root {
  --background: #09090b;
  --foreground: #ededed;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  text-rendering: optimizeLegibility;
}

/* Optional: smoother selection */
::selection {
  background: rgba(99, 102, 241, 0.35);
}